@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
/* navigation styles
designed by: jeremy olu
*/

/*topbar desktop */

body {
    font-family: 'Raleway', sans-serif;
}

.topbar-desktop-navigation {
    background-color: #E7E7E7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 5px;
    height: 35px;
    width: 100%;
}

ul.topbar-nav-list {
    display: inline-flex;
    list-style-type: none;
    margin: 7px;
}

li.topbar-nav-list-item {
    font-size: 13px;
    font-weight: 600;
    margin-left: 2px;
}

li.topbar-nav-list-item a {
    text-decoration: none;
    color: #000000;
}

.seperator {
    margin-left: 2px;
    margin-right: 5px;
}

/*main navigation*/

.menu-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 13px;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

ul.main-menu-list {
    display: inline-flex;
    margin: 0;
    list-style-type: none;
}

li.menu-nav-list-item {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
}

li.menu-nav-list-item a {
    text-decoration: none;
    color: #000000;
}

.menu-icons {
    position: relative;
}

.cart-count {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(0, 125, 181);
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    bottom: 0;
    right: 0;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px;
}

.menu-icon {
    font-size: 20px;
    color: #000000;
    margin: 10px;
}

/* smaller screens */

@media only screen and (max-width: 600px) {
    body {
        
    }
}